
.features__features-list {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;

    .item {
        width:100%;
        @media screen and (min-width: 768px) {
        width: calc((100% - 30px) / 2);
        max-width: 354px;
    &:nth-child(odd){
        margin-right: 30px;
    }
    &:nth-child(n+3) {
        margin-top: 30px;
    }
        }
    @media screen and (min-width: 1200px) {
        width: calc((100% - 3 * 30px) / 4);
        width: 270px;
        &:nth-child(n+3) {
        margin-top: 0;
        }
    &:not(:last-child) {
            margin-right: 30px;
        }
        }
    }

}



.features__details {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;

 
    height: 120px;
    border-radius: 4px;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
    background-color: var(--staff-color);

    @media screen and (min-width: 768px) {
        margin-bottom: 30px;
        }
}

.features__text {
    margin-top: 0;
    margin-bottom: 0;
    line-height: 1.71;
}