.team {
    background-color: var(--staff-color);
}

.team__cards-list {
    display: flex;
    justify-content: space-between;
}

.team-cards__photo {
    display: block;
}

.team-cards:hover {
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
}