.team {
    background-color: var(--staff-color);
}

.team__cards-list {

    
@media screen and(min-width: 768px) {
    display: flex;
    flex-wrap: wrap;

    .team-cards{
    width: 100%;
    margin-bottom: 30px;
    }
    
    .team-cards{
    width: 100%;
    width: calc((100% - 30px) / 2);
    max-width: 354px; 
    
}
}

@media screen and(min-width: 1200px){ 
    justify-content: space-between;
    .team-cards{
    width: calc((100% - 90px) / 4);
    max-width: 270px; 
   
}
} 
}

.team-cards__photo {
    display: block;
}

.team-cards:hover {
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
}