
.contact-nav__burger{
    background-color: transparent;
    border: none;
    outline: none;
    
@media screen and(min-width: 768px) {
    display: none;
    
}
}

.contact-nav__burger-icon {
    cursor: pointer;
    fill: var(--primery-title-color);
}

   .contact-nav__burger-icon:hover{
    fill: var(--accent-color)
   }

    .contact-nav__burger-icon:focus {
              fill: var(--accent-color)
    }