.container {
    max-width: 480px;
    max-width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;
    height: 60px;
    @media screen and(min-width: 768px){
        height: auto;
    }
    @media screen and(min-width: 1200px){
        max-width: 1200px;
    }
}



.features__container,
.portfolio-button-container {
    padding-bottom: 0;
}

.footer__container {
    display: flex;
    padding-top: 0;
    padding-bottom: 0;
}

.project-container {
    padding-top: 50px;
    padding-bottom: 94px;
}
